.logo {
  @extend %link;
  font-family: var(--logo-font), sans-serif;
  color: var(--text-accent-color);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width:1200px){
        margin-left: 0;
        font-size: 26px;
   
  
  }
}

.header__logo {
  @extend .logo;
  margin: 16px auto 16px 0px;
  color: var(--header-color);


  @media screen and (min-width:768px){
    margin: 0 88px 0 0;


}

@media screen and (min-width:1200px){
  margin-right: 93px;
  font-size: 26px;

}

  
}

.logo__accent {
  color: var(--accent-color);
}
