.header-menu {
  background-color: #ffffff;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  z-index: 10;
  transform: translateX(100%);
  transition: transform 500ms var(--animation-timing-function);

  &.is-open {
    transform: translateX(0);
  }

  @media screen and (min-width: 768px) {
    position: static;
    transform: translateX(0);
    flex-direction: row;
    padding: 0px;
    width: auto;
    height: auto;
  }
}

.header-menu__btn {
  @extend %button;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 10px;
  right: 10px;
  padding: 0;
  border: 0;
  width: 40px;
  height: 40px;
  border: none;
  z-index: 100;
  background-color: #ffffff;
  transition: fill 250ms var(--animation-timing-function);

  &:hover {
    cursor: pointer;
    fill: var(--accent-color);
  }

  &.is-open {
    right: 15px;
    position: fixed;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header-menu__icon {
  width: 24px;
  height: 16px;
  .header-menu__btn.is-open & {
    width: 19px;
    height: 19px;
  }
}

.icon-menu {
  transition: 500ms;
  .header-menu__btn.is-open & {
    opacity: 0;
  }
}

.icon-close {
  opacity: 0;
  transition: 500ms;

  .header-menu__btn.is-open & {
    opacity: 1;
  }
}
