:root {
  --main-font: Roboto;
  --logo-font: Raleway;
  --header-color: #212121;
  --text-color: #757575;
  --text-accent-color: #ffffff;
  --accent-color: #2196f3;
  --button-hover-color: #188ce8;
  --button-color: #f5f4fa;
  --footer-color: #2f303a;
  --frame-border-color: #ececec;
  --portfolio-frame-color: #eeeeee;
  --logo-color: #afb1b8;
  --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
