.header-container {
  @extend %container;
  position: relative;
  display: flex;
  align-items: center;

  @media screen and (min-width:768px){
    width: 768px;
  
  }

  @media screen and (min-width:1200px){
    width: 1200px;
    
  }
}

.header {
  border-bottom: 1px solid;
  border-color: var(--frame-border-color);
}
